<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".YogaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YogaApp.Splash"
        tools:targetApi="31">


        <service
            android:name=".service.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT">
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.home.discover.stress_relief.StressReliefActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />


        <activity
            android:name=".presentation.home.discover.flexiblity_strength.FlexibilityStrengthActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.home.discover.adjust_yoga.AdjustYogaActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.home.discover.popular_yoga.PopularYogaActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.home.recommendation.RecommendationActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.serenitydetail.SerenityDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.categorydetail.CategoryDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.support.SupportActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.analytics.AnalyticsActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.appearance.AppearanceActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.billing.BillingSubscriptionActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.accountsecurity.AccountSecurityActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.notifications.NotificationsActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.mybody.MyBodyActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.userprofile.UserProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.subscription.SubscriptionActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.home.bookmark.BookmarkActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.home.notification.NotificationSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" />

        <activity
            android:name=".presentation.accountsetup.AccountSetupActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp" >

        </activity>

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.YogaApp.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>